/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 顏色 */
:root{
  --primary-100:#F5FEE7;
  --primary-200:#e8fec5;
  --primary-300:#C0FA73;
  --primary-400:#57A203;
  --primary-500:#477A11;
  --neutral-0:#ffffff;
  --neutral-100:#F8F9FA;
  --neutral-200:#E9ECEF;
  --neutral-300:#DEE2E6;
  --neutral-400:#CED4DA;
  --neutral-500:#ADB5BD;
  --neutral-600:#6C757D;
  --neutral-700:#495057;
  --neutral-800:#343A40;
  --neutral-900:#212529;
  --Danger-100:#FCF1F1;
  --Danger-200:#EBA7A7;
  --Danger-300:#E9ECEF;
  --Success-100:#EFF8F4;
  --Success-200:#9AD1BA;
  --Success-300:#36A375;
  --Warning-100:#FEF6EC;
  --Warning-200:#F9C588;
  --Warning3-300:#F38B12;
  --Info-100:#EEF5FC;
  --Info-200:#97C3ED;
  --Info-300:#3087DB;
}

/* 標籤基本樣式 */
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}

img{
    vertical-align: middle; /* 清除圖片下方空白間隙 */
    max-width: 100%;
    height: auto;
}

a{
    color: var(--neutral-900);
    text-decoration: none;
    display: block;
    font-weight: 500;
}

/* 通用樣式 */
.container{
    width: 1296px;
    margin: 0 auto;
}

.col-1{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12); /* 佔據1個欄位的寬度 */
}

.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 2); /* 佔據2個欄位的寬度 */
}

.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 3); /* 佔據3個欄位的寬度 */
}

.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 4); /* 佔據4個欄位的寬度 */
}

.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 5); /* 佔據5個欄位的寬度 */
}

.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 6); /* 佔據6個欄位的寬度 */
}

.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 7); /* 佔據7個欄位的寬度 */
}

.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 8); /* 佔據8個欄位的寬度 */
}

.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 9); /* 佔據9個欄位的寬度 */
}

.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 10); /* 佔據10個欄位的寬度 */
}

.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 11); /* 佔據11個欄位的寬度 */
}
.col-12{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;/* 元素自動換行 */
}

.h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.h3{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

h4{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

h5{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;    
}

h6{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;    
}

.text-sm{
    font-size: 14px;
}

.text-primary-400{
    color: var(--primary-400);
}

.text-danger{
    color: var(--Danger-300);
}

.bg-neutral-100{
    background-color: var(--neutral-100);
}

.bg-primary-200{
    background-color: var(--primary-200);
}

.p-12{
    padding: 12px;
}

.p8-12{
    padding: 8px 12px;
}

.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-64{
    padding-top: 64px; 
    padding-bottom: 64px;
}

.me-8{
    margin-right: 8px;
}

.me-12{
    margin-right: 12px;
}

.me-24{
    margin-right: 24px;
}

.me-40{
    margin-right: 40px;
}

.me-48{
    margin-right: 48px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-64{
    margin-bottom: 64px;
}

.bi{
    vertical-align: bottom;
}

.prl-312{
    padding-right: 312px;
    padding-left: 312px;
}

/* 元件 */
.breadcrumb-item + .breadcrumb-item::before{
    content:'/';
    padding: 0 12px;
    color: var(--neutral-300);
    font-weight: 700;
}

.breadcrumb-item{
    display: flex;
    font-weight: 500;
}

.breadcrumb-link{
    color: var(--neutral-600);
}

.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer; /* 游標變成手指樣式 */
    border: none;
    background: transparent; /* 背景色變透明 */
}

.btn-dark{
    background: var(--neutral-900);
    color: var(--neutral-0);
}